# Copyright (C) 2020  SymbiFlow Authors.
#
# Use of this source code is governed by a ISC-style
# license that can be found in the LICENSE file or at
# https://opensource.org/licenses/ISC
#
# SPDX-License-Identifier: ISC

name: 'test'

on:
  push:
  pull_request:

shared-steps:
    .: &step-install-apt
      name: Install dependencies
      run: |
        apt update -qq
        apt install -y make wget git
    .: &step-checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    .: &step-make-env
      name: Make env
      run: |
        cd test
        make env
        make env-info

    .: &step-make-example-command
      name: Make example-command
      run: |
        cd test
        make example-command

    .: &step-make-test-command
      name: Make test-command
      run: |
        cd test
        make test-command

jobs:

  test:
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ ubuntu, windows, macos ]
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash
    steps:

    - name: Configure git
      shell: bash
      run: |
        git config --global core.autocrlf input
        git config --global core.symlinks true

    - *step-checkout
    - *step-make-env
    - *step-make-example-command
    - *step-make-test-command

# Debian should test on all stable/testing/unstable
# See https://www.debian.org/releases/
  debian:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os:
          - debian:buster
          - debian:bullseye
          - debian:sid
    container: ${{ matrix.os }}
    steps:
    - *step-install-apt
    - *step-checkout
    - *step-make-env
    - *step-make-example-command
    - *step-make-test-command

# Ubuntu should test on;
#  - On all the LTS versions
#  - The latest version of Ubuntu
# See http://releases.ubuntu.com/
  ubuntu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os:
          - ubuntu:14.04
          - ubuntu:16.04
          - ubuntu:18.04
          - ubuntu:20.04
          - ubuntu:20.10
    container: ${{ matrix.os }}
    steps:
    - *step-install-apt
    - *step-checkout
    - *step-make-env
    - *step-make-example-command
    - *step-make-test-command


# Fedora should test on;
#  - FIXME: Figure out a good policy
# https://fedoraproject.org/wiki/Releases
  fedora:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os:
          - 32
          - 33
          - 34
    container: fedora:${{ matrix.os }}

    steps:
    - name: Install dependencies
      run: |
        dnf update -y
        dnf install -y make wget git which

    - *step-checkout
    - *step-make-env
    - *step-make-example-command
    - *step-make-test-command

# Test on the LTS versions of CentOS
  centos:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os:
          - 7
          - 8
    container: centos:${{ matrix.os }}
    steps:

    - name: Install dependencies
      run: |
        yum update -y
        yum install -y make wget git which

    - *step-checkout
    - *step-make-env
    - *step-make-example-command
    - *step-make-test-command

# Test on the latest version or archlinux
  archlinux:
    runs-on: ubuntu-latest
    container: archlinux
    steps:

    - name: Install dependencies
      run: |
        pacman -Syu --noconfirm
        pacman -S make wget git which --noconfirm

    - *step-checkout
    - *step-make-env
    - *step-make-example-command
    - *step-make-test-command
